<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Sobre nós</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Sair</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()"></form>
      <div>
        <img src="./img/whiskritorio.jpg">
        <h3>CAMPEÃO DA REVISTA VEJA COMER & BEBER: BAR REVELAÇÃO E MELHOR BAR PRA PAQUERAR</h3>
        <p>Você gosta de um drinque exclusivo? Ou prefere uma 'cerva' estupidamente gelada? Curte Rock Brasil, pop-rock e rock clássico com sua gata ou seu gato? Ou está solteiro e quer 'azaração'? </p>
        <p>Seja qual for sua escolha, seu lugar é no Whiskritorio, pub que já se tornou referência em música, drinques e diversão de qualidade. </p>
        <p>O Whiskritorio tem três ambientes: varanda, área com sinuca e telão, boate climatizada com palco para shows e tratamento acústico. Na cozinha, pratos, sanduíches e tira-gostos.</p>
      </div>
    </div> 
  </ion-content>
</ion-modal-view>
