<ion-view view-title="Eventos">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="./img/evento1.jpg">
				<h2>Pretty Hate Machine</h2>
				<p>Nine Inch Nails</p>
			</div>
			<div class="item item-image">
				<img src="./img/evento1.jpg">
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="./img/evento2.jpg">
				<h2>Pretty Hate Machine</h2>
				<p>Nine Inch Nails</p>
			</div>
			<div class="item item-image">
				<img src="./img/evento2.jpg">
			</div>
		</div>
	</ion-content>
</ion-view>



<!--
<ion-view view-title="Eventos">
<ion-content>
<ion-list>
  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
    {{playlist.title}}
  </ion-item>
</ion-list>
</ion-content>
</ion-view>
-->